html, body, .my-wrapper {
    height: 100%;
}

.my-colors {
    color: #000000;
    background-color: #ECFBFF;
}
#searchedCards {
    border: 1px solid black;
}
.cardHere .card{
    /* height: 845px; for option one of how to  */
    height: 600px;
}