:root{
    --cultured: #f8f9faff;
    --cultured-2: #e9ecefff;
    --gainsboro: #dee2e6ff;
    --light-gray: #ced4daff;
    --cadet-blue-crayola: #adb5bdff;
    --sonic-silver: #6c757dff;
    --davys-grey: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
    }
/* https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529    <--- (credit this in README) */
/* Helps to format input field in the center of the page -- looks like this isn't being used/ commented out in the html? 
    As of 7/8 11:30AM PST */
html, body, .my-wrapper {
    height: 100%;
}
body{
    background-color: var(--davys-grey);
}
.card{
    background-color: var(--cultured);
    color: var(--eerie-black);
}
form{
    margin-bottom: 1em;
    padding-left: 1em;
}

.like{
    color: gold;
}
.sizeMe{
    max-width: 169px;
    /* text-align: center; */
}
/* Changes colors for input field to make it more legible and appealing */
.my-colors {
    color: #000000;
    background-color: var(--cultured);
    
}
.card-here{
    margin: 1em;
}
/* Looks like this id isn't being used so far? As of 7/8 11:30AM PST */
#searchedCards {
    border: 1px solid black;
}
/* Commented out because the height is uniform when sized with the card and column classes, and was causing the issue 
    with images taking over the card */
/* .cardHere .card{ */
    /* height: 845px; for option one of how to  */
    /* height: 620px;
} */

/* Can edit font size for card-title to fix issue with cards with longer titles being slightly bigger from around 1200-1250px screen */
/* if statement around declared variable at beginning -- if title checked use normal, else use link for genre changes value of url variable*/